<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.mapper.EmpMapper">

<!-- 方法一：取别名   <select id="getAllEmp" resultType="Emp">select eid,emp_name empName,age,sex,email from t_emp</select>-->
<!--方法二：在mybatis-config中设置全局配置    <select id="getAllEmp" resultType="Emp">select *from t_emp</select>-->
    <resultMap id="empResultMap" type="Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result>
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>
    </resultMap>
    <select id="getAllEmp" resultMap="empResultMap">select *from t_emp</select>

    <resultMap id="EmpAndDeptByStepOneResultMap" type="Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result>
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>
        <association property="dept"
                     select="com.atguigu.mybatis.mapper.DeptMapper.getEmpAndDeptByStepTwo"
                     column="did"></association>
    </resultMap>
    <select id="getEmpAndDeptByStepOne" resultMap="EmpAndDeptByStepOneResultMap">select *from t_emp where eid=#{eid}</select>
</mapper>